CPP11STL/out/build/*
/CPP11STL/.vs/CPP11STL.slnx/v18
/CPP11STL/.vs/CPP11STL.slnx/FileContentIndex
/.vs
pybook/.venv
.gitignore
pybook/pybook/__pycache__
pybook/tests/__pycache__
pythonw6/__pycache__
backtesting/backtesting/diidend_rebalance.py
backtesting/.venv
backtesting/backtesting.egg-info
backtesting/output*
backtesting/dividend_rebalance.cp*
backtesting/test/*
backtesting/*.log
backtesting/backtesting/__pycache__/*
backtesting/test*
divident_screening/claude_config/.claude/settings.json
divident_screening/__pycache__/*
divident_screening/claude_config/*
divident_screening/dev.code-workspace
divident_screening/.claude
divident_screening/tests/__pycache__/*
divident_screening/scorers/__pycache__/*
